* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1415025148099-17fe74102b28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=975&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.clock-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hours,
.minutes,
.seconds,
.ampm {
  font-family: "Raleway", sans-serif;
  width: 200px;
  margin: 10px;
  text-align: center;
}

.style-class {
  font-size: 100px;
  background-color: rgba(0, 255, 255, 0.336);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px;
}

.ampm-change {
  font-size: 60px;
  background-color: rgba(255, 153, 0, 0.336);
  border-radius: 10px;
  padding: 30px;
}

.label {
  background-color: rgba(155, 95, 173, 0.568);
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 600;
}

@media screen and (max-width: 750px) {
  .clock-body {
    flex-direction: column;
  }

  .style-class {
    font-size: 50px;
    padding: 30px;
  }

  .ampm-change {
    font-size: 30px;
    padding: 30px;
  }

  .hours,
  .minutes,
  .seconds,
  .ampm {
    width: 150px;
  }
}
